<ul class="country-card__list">
    {{#each obj.country}}
    <li class="country-card__name">
        <h1>{{this}}</h1>
    </li>
    {{/each}}
    {{#if obj.countries}}
    <ul class="country-card__general-info">
        <div class="country-card__info">
            <li class="country-card__capital">
                <h2>Столица: {{obj.capital}}</h2>
            </li>
            <li class="country-card__polulation">
                <h2>Популяция: {{obj.population}}</h2>
            </li>
            <li>
                <ul>
                    <h2>Языки:</h2>
                </ul>
                {{#each obj.nativeName}}
            <li>
                <h3>{{this}}</h3>
            </li>
            {{/each}}
            </li>
        </div>
        <li class="country-card__flag"><img src="{{obj.flag}}" alt="{{obj.country}}-flag"></li>

        {{/if}}
    </ul>
</ul>